<!DOCTYPE html>

<html>
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyRazorApp.styles.css"/>
    </head>

    <body>
        <header>
            <partial name="NavMenuPartial" />
        </header>
    
        <main>
            @RenderBody()
        </main>

        <footer>
            2023 - Powered by Matheus
        </footer>

        @RenderSection(name: "scripts", required: false)
    </body>
</html>