<!DOCTYPE html>
    <html>
        <head>
            <title>
                @ViewData["Title"]
            </title>
        </head>
        <body>
            <header>
                <partial name="NavMenuPartial" />
            </header>
    
            <main>
                @RenderBody()
            </main>
        </body>
    </html>
</>