@page "~/sobre"
@model MyRazorApp.Pages.AboutModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Sobre";
}


<body>
    <h1>
        Sobre
    </h1>
</body>

@section scripts{
    <script src="~/js/site.js"></script>
}